
<button *ngIf="!modal" (click)="openModal()" class="open-modal-button">Open Modal</button>

<div *ngIf="modal" class="modal-inner">
  <img class="chest chest-closed" id="closed" src="assets/img/chest-closed.png" />
  <img class="chest chest-open" id="open" src="assets/img/chest-open.png" />
  <div class="cards" id="cards">
    <div class="card card-1">
      <h1>Card 1</h1>
    </div>
    <div class="card card-2">
      <h1>Card 2</h1>
    </div>
    <div class="card card-3">
      <h1>Card 3</h1>
    </div>
    <div class="card card-4">
      <h1>Card 4</h1>
    </div>
  </div>

  <button (click)="closeModal()" class="close-modal-button">Close</button>
</div>

