.open-modal-button {
  background: transparent;
  border: 1px solid cyan;
  color: cyan;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  position: absolute;
  left: 45%;
  top: 40%;
  font-size: 27px;
}

.modal-inner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 25;
  width: 100%;
  background: black;
  opacity: .8;

  .chest {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 44%;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15%;
    .card {
      height: 250px;
      width: 150px;
      background: white;
      text-align: center;
      border: 1px solid black;
      background: purple;
      position: relative;
      animation-name: card1animation;
      animation-duration: 10s;
      animation-timing-function: ease-in;
      font-size: 20px;

      h1 {
        color: white;
      }
    }

    .card-2 {
      background: red;
      animation-name: card2animation;

    }

    .card-3 {
      background: blue;
      animation-name: card3animation;

    }

    .card-4 {
      background: green;
      animation-name: card4animation;

    }
  }

  .close-modal-button {
    background: transparent;
    border: 1px solid red;
    color: red;
    width: 200px;
    height: 100px;
    font-size: 27px;
    border-radius: 8px;
    position: absolute;
    left: 44%;
    bottom: 8%;
  }
}

@keyframes card1animation {
  0% {  bottom: -50px; left: 400px; height: 0; width: 0; font-size: 0; display: block;}
  40% { bottom: 250px; display: block; }
  100% {  bottom: 0; left: 0; height: 250px; width: 150px; font-size: 20px; display: block; }
}

@keyframes card2animation {
  0% { bottom: -50px; left: 134px; height: 0; width: 0; font-size: 0; display: block; }
  40% { bottom: 250px; }
  100% { bottom: 0; left: 0; height: 250px; width: 150px; font-size: 20px; }
}

@keyframes card3animation {
  0% { bottom: -50px; right: 131px; height: 0; width: 0; font-size: 0; }
  40% { bottom: 250px; }
  100% { bottom: 0; right: 0; height: 250px; width: 150px; font-size: 20px; }
}

@keyframes card4animation {
  0% { bottom: -50px; right: 397px; height: 0; width: 0; font-size: 0; }
  40% { bottom: 250px; }
  100% { bottom: 0; right: 0; height: 250px; width: 150px; font-size: 20px; }
}

