 <div class="wheel-page">
  <button class="board-route" routerLink="/board">Go to TictacToe</button>
  <button class="modal-route" routerLink="/modal">Go to modal</button>


  <img src="assets/img/wheel-1-arrow.png" class="arrow">
  <div id="main-box" class="main-box">
    <img id="wheel" src="assets/img/wheel-1-bg.png" alt="wheel" />
    <img id="prizes" src="assets/img/wheel-prizes.png" />
  </div>

  <img (click)="spin()" id="spin-btn" src="assets/img/wheel-1-spin.png" />

  <h1 class="prize" *ngIf="showPrize">You landed on {{prize}}</h1>

 </div>

