.board-route {
  height: 40px;
  width: 12%;
  border: 1px solid red;
  color: red;
  background: transparent;
  border-radius: 4px;
}

.wheel-page {
  background: white;
}


#main-box {
  transform-origin: center center;
  transition: all ease 5s;
  text-align: center;
  height: 1100px;
  width: 1350px;
  position: absolute;
}

#wheel {
  position: absolute;
  top: -42px;
  left: 15%;
  transform-origin: center;
}

.arrow{
  display: block;
  color: rgb(8, 142, 196);
  position: absolute;
  z-index: 5;
  left: 15%;
  top: 0;
}

#spin-btn {
  position: absolute;
  z-index: 10;
  left: 15%;
  top: 0;
  transform: unset;
}

#prizes {
  position: absolute;
  left: 15%;
  top: -42px;
}
